*{
    background-color: grey;
}
header{
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}
li a {
    color: white;
    display:block;
    text-decoration: none;
}
li{
    float:left;
    border-radius: solid 2px;
    background-color: black;
    list-style-type: none;
    width: 15%;
    padding: 16px;
}
h1,h2,h3,h4,h5,h6,p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
h1{
    font-size: 36pt;
}
h3{
    font-size: 30pt;
}
p{
    font-size: 10pt;
}
h4,h5,h6{
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
}
aside{
    background-color: white;
    border-radius: 10px;
}
footer{
    background-color: black;
    border-radius: 10px;
}



